.App {
  text-align: center;
}
header{
  background-color:rgb(25, 84, 139);
  padding:10px;
  
}
header>form>input,select{
  font-size:18px;
}

.hit{
  width:900px;
  margin:0 auto;
  border-bottom:5px solid black;
  padding:10px;
}
.hitHeader{
}
.hitHeader>div>*{
  margin:0px;
}